# Ambiente (DEV/PROD via docker-compose)
NODE_ENV=development

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# PgAdmin (pgadmin4)
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Portas (opcional)
APP_PORT=3000
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# Database (recomendado via PgBouncer)
DATABASE_URL="postgresql://USER:PASSWORD@pgbouncer:6432/DB?schema=public&pgbouncer=true"

# Redis
REDIS_URL="redis://redis:6379"

# Web and Nest
WEB_ORIGIN="http://localhost"
NEXT_PUBLIC_APP_URL="http://localhost"
NEXT_PUBLIC_API_BASE_URL="/api"

# Clerk (Web)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/auth/sign-up"

# Clerk (API verification)
CLERK_ISSUER=""
CLERK_JWKS_URL=""
CLERK_WEBHOOK_SECRET=""
CLERK_WEBHOOK_URL_TEMP=""

# Asaas
ASAAS_API_URL="https://api-sandbox.asaas.com/v3"
ASAAS_API_KEY=""
ASAAS_WEBHOOK_TOKEN=""
ASAAS_WEBHOOK_URL_TEMP=""

# Cloudflare R2 (S3 compatible)
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_PUBLIC_BASE_URL=""

# Next
NEXT_TELEMETRY_DISABLED=1
NEXT_DISABLE_ESLINT=1

# Shadcn/Studio
EMAIL=
LICENSE_KEY=
