# Ambiente (para DEV via docker-compose)
NODE_ENV=development

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# PgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Portas
APP_PORT=3000
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# Local compose uses postgres service directly
DATABASE_URL="postgresql://codelab:codelab@postgres:5432/codelab?schema=public"

# Redis
REDIS_URL="redis://redis:6379"

# Web and Nest
WEB_ORIGIN="http://localhost"
NEXT_PUBLIC_APP_URL="http://localhost"
NEXT_PUBLIC_API_BASE_URL="/api"

# Clerk (Web)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/auth/sign-up"

# Clerk (API verification)
CLERK_ISSUER="https://loria-forgiving-nana.ngrok-free.dev.clerk.accounts"
CLERK_JWKS_URL="https://loria-forgiving-nana.ngrok-free.dev.clerk.accounts/.well-known/jwks.json"
CLERK_WEBHOOK_SECRET="whsec_e/jSiW5ORXxxAoA6B3W3nnPdgpMOdfhH"
CLERK_WEBHOOK_URL_TEMP="https://loria-forgiving-nana.ngrok-free.dev/api/webhooks/clerk"

# Asaas
ASAAS_API_URL="https://api-sandbox.asaas.com/v3"
ASAAS_API_KEY=""
ASAAS_WEBHOOK_TOKEN=""
ASAAS_WEBHOOK_URL_TEMP="https://loria-forgiving-nana.ngrok-free.dev/api/webhooks/asaas"

# Cloudflare R2
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET="codelab"
R2_PUBLIC_BASE_URL="https://pub-xxxxx.r2.dev"

# Next
NEXT_TELEMETRY_DISABLED=1
NEXT_DISABLE_ESLINT=1

# Shadcn/Studio
EMAIL=tenroberto2011@gmail.com
LICENSE_KEY=0622300C-AE92-445E-9E0F-AF03F92F4F10
